@(title: String)(content: Html)
@import controllers.routes.{Assets => AssetRoutes}
<html>
  <head>
    <title>@title</title>
    <link href="/a@AssetRoutes.at("stylesheets/main.css")" rel="stylesheet" media="screen">
    <link href="/a@AssetRoutes.at("images/favicon.png")" rel="shortcut icon" type="image/png">
    <script src="/a@AssetRoutes.at("javascripts/jquery-1.9.0.min.js")"></script>
  </head>
  <body>
    <img src="/a@AssetRoutes.at("images/Puffer_Fish_350x300.jpg")" style='float: right; margin: 3em;'>
    <h1>ServiceA</h1>
    @content
  </body>
</html>
